<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>S-Tracker</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cj_style.css') }}">
</head>
<body>
  <div class="nav-container">
    <header>
      <a href="/cj" class="S-Tracker">S-Tracker</a>
      <p class="smt">Social  Media Tracker</p>
      <nav>
        <ul>
          <a href="#start" class="Start_btn">Start</a>
          <a href="#about" class="About_btn">About</a>
          <a href="#contact" class="Contactme_btn">Contact me</a>

        </ul>
      </nav>
    </header>
  </div>

  <div class="hero" id="start">
    <h1>Click to get Started</h1>
    <div class="images">
      <a href="/cj/youtube"><img src="{{ url_for('static',filename='images/youtube.png') }}" alt="youtube"></a>
    </div>
  </div>

  <section class="about" id="about">
    <div class="youtube">
      <div class="transition2">
        <p class="youtube-subtitle">Youtube</p>
        <p class="youtube-title">The Youtube Tracker</p>
        <p class="youtube-desc"><span>About</span>
          What it pulls<br> <br>
          Subsribers<br>
          Name of Youtuber<br>
          Youtuber ID<br>
          Youtuber bool(hiddensubscribers)<br>
          Youtuber Subscribers<br>
          Youtuber Views<br>
          Youtuber Videos.<br> <br>
          Right now I am only displaying the Subsribers. You can find the statistics at cyxl.org/stracker/youtube</p>
        <p class="youtube-used"><span>Tools Used</span><br>
          YoutubeData api v4 | For reciving data<br>
          Firebase Realtime Datatbase | To store data<br>
          Firebase Admin | To store/recive data from code<br>
          Bokeh | Used to generate graphs<br>
          Flask | Used to rought</p>
      </div>
    </div>
  </section>

  <section class="contact-me" id="contact">
    <h1>Contact Me</h1>
    <p>Email: cyxlpublic@gmail.com</p>
    <p>Check out my <a href="https://www.youtube.com/channel/UCezXdneBXBYMAxKZOQ0Gk4w/">youtube</a></p>
    <p>Check out my <a href="https://github.com/cyxl">github</a></p>    
  </section>
</body>
</html>
