<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>TWT Code Jam</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/cj_style.css') }}">

</head>
<body>
<div class="topnav">
  <a class="active" href="#">CodeJam</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div class="main" id="about">
      <h2>Section 1</h2>
  <p>Click on the link to see the "smooth" scrolling effect.</p>
</div>
<div class="main" id="news">
      <h2>Section 2</h2>
  <p>Click on the link to see the "smooth" scrolling effect.</p>
</div>
</body>
</html>